.barList {
  height: 100%;
}

.barTag {
  margin: 5px;
  border-radius: 10px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.even {
  background: #bbe4e9;
}

.odd {
  background-color: #5585b5;
}
